body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: #f4ede7;
}

/* header {
    display: flex;
    flex-direction: column;
} */

.background-clip {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    /* position: absolute; 
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    z-index: -100;
    background-size: cover;
    overflow: hidden; */
    /* position: absolute;
    left: 0;
    top: -50;
    z-index: -1;
    scale: auto;
    margin-bottom: 1400px; */
}

.background-color {
    background-color:#5c4b44;
    margin-top: 0;
    padding-top: 1em;
    padding-bottom: 2em;
    position: relative;
    overflow: hidden;
    z-index: -2;
}
.container {
    margin-left: 2em;
    margin-top: 1em;
    margin-right: 2em;
    
}

.branding {
    display: flex;
    gap: .8em;
}


.top-row {
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;
    margin-top: 1rem;
    margin-left: 2rem;
}

.socials {
    display: flex;
    gap: 2em;
}



h1 ,.cup, .social {
    font-size: 2.2rem;
    margin: 0;
    color: #f4ede7;
}

nav{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 101;
    
}

.navbar {
    display: flex;
    gap: 3em;
    justify-content: right;
    background-color: #f4ede7;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-right: 2rem;
    margin-top: 1rem;
    margin-left: 2rem;
}

.nav-name {
    list-style-type: none;
    padding: 10px 25px 10px 10px;
}

/* .box-shadow {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
} */

.nav-links {
    text-decoration: none;
    color: #5c4b44;
    font-weight: bold;
}
.nav-links:hover, .nav-links:focus {
    color: #f4ede7;
}


.landing-content {
    padding-top: 20em;
    padding-left: 4.75em;
    padding-bottom: 24em;
    
}

h2 {
    color: #f4ede7;
    margin-top: 0;
}

h4 {
    font-weight: 400;
    color: #bcb3a4;
}

.landing-content h1 {
    color: #7b9c72;
    font-size: 100px;
}

button {
    border-style: none;
    border-radius: 10px;
    color: #5c4b44;
    background-color: #f4ede7;
    padding: 15px 30px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}



.secondary-header {
    background-color: #5c4b4467;
    padding: 220px 400px;
    margin-top: -200px;
    margin-right: 75px;
    margin-left: 75px;
    margin-bottom: 50px;
    position: relative;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.background-clip2 {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}
.bi-layer-sections {
    display: flex;
    justify-content:space-between;
}

.menu, .order {
    width: 48.5%;
    height: 550px;
    background-color: #5c4b44;
    
}

.order {
    text-align: right;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: right;
    line-height: 2em;
}

.order-items {
    margin-right: 2.5em;
    width: 300px;
}

.menu {
    text-align: left;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
    line-height: 2em;
}

.menu-items {
    margin-left: 2.5em;
    width: 300px;
}

.menu-items p, .order-items p {
    color:#bcb3a4;
}

.top-form {
    margin-top: 5em;
    margin-right: 8em;
    margin-left: 8em;
    margin-bottom: 2em;
    display: flex;
    gap: 4em;
    justify-content: center;

}

.item-logo {
    width: 600px;
    border-radius: 15px;
}

.contact-item {
    display: flex;
    text-align: left;
    font-size: 1rem;
    font-weight: bold;
    color:#5c4b44
}

.cup-logo {
    font-size: 5rem;
    text-align: center;
    color:#5c4b44
}

.color-change {
    color:#7b9c72;
    font-weight: bold;
    font-size: 1.2rem;
}

.text-icons {
    margin-left: 1em;
}

.form {
    margin-top: 2em;
    margin-right: 8em;
    margin-left: 8em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.name-email {
    display: flex;
    gap: 70px;
}

textarea {
    margin-top: 2rem;
    resize: none;
    height: 120px;
    font-family: inherit;
    border-style: solid;
    border-width: 2px;
    border-color: #bcb3a4;
    background-color: #f4ede7;
    border-radius: 5px;
}

.textbox {
    width: 400px;
    padding: 25px;
    font-family: inherit;
    border-radius: 5px;
    border-color: #bcb3a4;
    border-style: solid;
    color:#bcb3a4;
    background-color: #f4ede7;
    
}

.help-text {
    margin-bottom: 2em;
    width: 550px;
    text-align: center;
    line-height: 2em;
    color: #5c4b44;
}

.submit {
    background-color: #7b9c72;
    color:#f4ede7;
    margin-top: 2rem;
    padding: 15px 50px 15px 50px;
    font-size: 1rem;
}

footer {
    text-align: center;
    margin-top: 8rem;
    font-size: .8rem;
    margin-bottom: 3rem;
    color:#5c4b44;
}

footer p {
    margin: 5px;
}
